doctype 5
html

    head
        title #{name}
    body
        #wrapper
            h1 #{name}
            #content
                div.plugin
                    div Git repo: #{url}
                    div Hits: #{hits}
                    div Create: #{createdAt}
                    div Last Updated: #{updatedAt}
                    div Starred: #{stargazers_count}
                    div Open Issue: #{open_issues}